.YKWVKXBGWZ {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  .BGCWKTRSEV {
    max-width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1200px) {
    }
    @media (max-width: 700px) {
      padding: 0 20px;
    }
    @media (max-width: 500px) {
    }
    .PNECUGITLN {
      max-width: 807px;
      text-align: center;
      .XLHXMHZNAK {
        color: #1f2326;
        font-size: 60px;
        font-weight: 800;
        line-height: 76px;
        @media (max-width: 1200px) {
          font-size: 50px;
        }
        @media (max-width: 700px) {
          font-size: 40px;
        }
        @media (max-width: 500px) {
          font-size: 34px;
          text-align: center;
          max-width: 283px;
          line-height: 42px;
          width: 100% !important ;
        }
        span {
          background: linear-gradient(90deg, #f9617d 20.98%, #1663f9 59.51%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    .CHFGNSYKZA {
      max-width: 715px;
      margin-top: 30px;
      margin-bottom: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media (max-width: 500px) {
        font-size: 16px;
        line-height: 24px;
        max-width: 275px;
        width: 100%;
      }
    }
    .BSIBHOGNPQ {
      display: flex;
      @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
      }
      .EZTSYBUTWP {
        margin-left: 24px;
        padding: 18px 50px;
        border-radius: 60px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #222;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: 500px) {
          margin-left: unset;
          margin-top: 20px;
          max-width: 124px;
        }
      }
    }
  }
  .IGLVKYJTKI {
    position: absolute;
    content: "";
    width: 1360px;
    height: 766px;
    border-radius: 532px;
    background: #51b4fa;
    filter: blur(148.0087432861328px);
    top: 281px;
    right: 1000px;
    flex-shrink: 0;

    z-index: -1;
  }
  .DJLFHJETTN {
    position: absolute;
    content: "";
    width: 751px;
    height: 422px;
    border-radius: 293px;
    background: #854aeb;
    filter: blur(148.0087432861328px);
    top: 529px;
    right: 905px;
    z-index: -1;
  }
  .JZTESBOHND {
    position: absolute;
    max-height: 377px;
    max-width: 670px;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 262px;
    background: #f8a6f0;
    filter: blur(148.0087432861328px);
    top: 375px;
    z-index: -1;
  }
  .WUHBSAZPUD {
    position: absolute;
    height: 351px;
    width: 625px;
    content: "";
    border-radius: 244px;
    background: #f8d997;
    filter: blur(148.0087432861328px);
    top: 564px;
    right: 335px;
    z-index: -1;
  }
}
