.NFLIHPTIDQ {
  padding: 18px 50px;
  background: #1663f9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  min-width: 141px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .LOTRKKBQYR {
    display: flex;
  }
}
