.ZRFUTHFFAW {
  display: flex;
  align-items: center;
  gap: 104px;
  margin-bottom: 100px;
  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 0 60px;
  }
  @media (max-width: 700px) {
    gap: 36px;
    padding: unset;
  }
  @media (max-width: 500px) {
  }

  .NQRAUTLQTV {
    @media (max-width: 1200px) {
      max-width: 100%;
      height: auto;
    }
    @media (max-width: 700px) {
      max-width: 80vw;
    }
    @media (max-width: 500px) {
    }
  }

  .QJUUPZWAZM {
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
      padding: 0 60px;
    }
    @media (max-width: 700px) {
    }

    @media (max-width: 500px) {
    }

    .IUPOLVOPKC {
      margin-bottom: 16px;
      font-size: 16px;
      color: #81879d;
      font-weight: 400;
      line-height: 24px;
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
    .EEKYQROENK {
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      max-width: 342px;
      margin-bottom: 32px;
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
    .OJCCPFBBDY {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 40px;
      @media (max-width: 500px) {
      }
      font-size: 14px;
    }
    .YHQGQNNXSC {
      color: #171717;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 10px;
      margin-bottom: 14px;
      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
    .VFRZWSWOBH {
      content: "";
      max-width: 146px;
      height: 2px;
      background: linear-gradient(
        90deg,
        #b112f4 -9.94%,
        rgba(177, 18, 244, 0) 123.03%
      );
    }
  }
}
// Right
.IYGCGYYXZB {
  display: flex;
  align-items: center;
  gap: 104px;
  margin-bottom: 100px;
  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    padding: 0 60px;
  }
  @media (max-width: 700px) {
    gap: 36px;
    padding: unset;
  }
  @media (max-width: 500px) {
  }

  .TXEPIFXBGN {
    @media (max-width: 1200px) {
      max-width: 100%;
      height: auto;
    }
    @media (max-width: 700px) {
      max-width: 80vw;
    }
    @media (max-width: 500px) {
    }
  }

  .FANVJMEFTP {
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
      text-align: left;
      padding: 0 60px;
    }
    @media (max-width: 700px) {
    }
    @media (max-width: 500px) {
    }
    .SJXWLXBGQE {
      margin-bottom: 16px;
      font-size: 16px;
      color: #81879d;
      font-weight: 400;
      line-height: 24px;
      text-align: right;
      @media (max-width: 1200px) {
        text-align: left;
      }
      @media (max-width: 700px) {
      }
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
    .CRXHDVWMHS {
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      margin-bottom: 32px;
      text-align: right;
      @media (max-width: 1200px) {
        text-align: left;
      }
      @media (max-width: 700px) {
      }
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
    .KGVRCSVIKL {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      margin-bottom: 40px;
      text-align: right;
      @media (max-width: 1200px) {
        text-align: left;
      }
      @media (max-width: 700px) {
      }
      @media (max-width: 500px) {
        font-size: 14px;
      }
    }

    .CMAMAZZPDI {
      color: #171717;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 10px;
      margin-bottom: 14px;
      text-align: right;
      margin-right: -10px;
      @media (max-width: 1200px) {
        text-align: left;
      }
      @media (max-width: 700px) {
      }
      @media (max-width: 500px) {
      }
    }

    .ZWYBLWRDTF {
      transform: scaleX(-1);
      @media (max-width: 1200px) {
        transform: unset;
      }
      @media (max-width: 700px) {
      }
      @media (max-width: 500px) {
      }
      .FQVGGOMYXJ {
        content: "";
        max-width: 146px;
        height: 2px;
        background: linear-gradient(
          90deg,
          #b112f4 -9.94%,
          rgba(177, 18, 244, 0) 123.03%
        );
      }
    }
  }
}
