.OQHTXJDEIT {
  display: flex;
  flex-direction: column;
  align-items: center;
  .QPQVURGNUI {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    @media (max-width: 1200px) {
      gap: 10px;
    }

    .PFSDAWBGQO {
      display: flex;
      margin-bottom: 10px;
      @media (max-width: 1000px) {
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      span {
        margin-left: 10px;
        font-weight: bold;
      }
    }
    .YEFHBPMRNN {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      span {
        margin-bottom: 25px;
      }
      @media (max-width: 1000px) {
      }
      .ZTOSJTWMFN {
        margin-top: 25px;
        .XYHWVWVJXI {
          font-weight: 400;
          color: #81879d;
          margin-top: 12px;
        }
      }
    }
    .DSWNVXHQVW {
      max-width: 232px;
      width: 90%;
      @media (max-width: 500px) {
        width: 100vw;
      }
      .ACMAMBWPOK {
        font-weight: 500;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
      }
      .JUADVUPNME {
        position: relative;
        margin-bottom: 28px;
        max-height: 45px;
        height: 100%;
        @media (max-width: 700px) {
          width: 90%;
        }
        .LAKMKHSISO {
          padding-left: 20px;
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 8px;
          border: 1px solid var(--white-1, #f0f0f0);
          @media (max-width: 700px) {
            width: 50%;
          }
        }
        .TKQHNNZFRG {
          position: absolute;
          right: 0;
        }
      }
      .MTVBSFSKEM {
        display: flex;
        flex-direction: column;
        .EJAGNKMUEJ {
          margin-bottom: 5px;
        }
      }
    }
  }
  .VAMMLDHYAJ {
    margin-top: 86px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #f0f0f0;
    display: flex;
    justify-content: center;
    .AIFJENCEND {
      margin-top: 36px;
      margin-bottom: 36px;
      max-width: 1170px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      .LCZEWLWUTO {
        color: #81879d;
        display: flex;
        gap: 40px;
      }
      .CUQLLWOXCX {
        color: #81879d;
        margin: 20px 0;
      }
      .RLTMESIYYE {
        display: flex;
        gap: 10px;
        .NXAIGEWFNW {
          position: relative;
          .MAAYKSRJVW {
            position: absolute;
            top: 25%;
            left: 35%;
          }
        }
      }
    }
  }
}
