.PMCVGORUQI {
  display: flex;
  justify-content: center;
  background: #f2f3f8;
  padding: 70px 135px;
  @media (max-width: 700px) {
    padding: 20px 50px;
  }
  .ULHZIWBXND {
    width: 1170px;
    .ZXJCBEMAFE {
      width: 100%;
      .QRJATQLULI {
        text-align: center;
        display: flex;
        justify-content: center;
        .NNYNXEVEAD {
          max-width: 689px;
        }
        .USBZLFFFCH {
          margin: 40px 0;
          .ENHGLCFDEY {
            max-width: 110px;
            max-height: 40px;
            border-radius: 52px;
            background-color: #1663f9;
            color: #fff;
            padding: 10px 27px;
            border: none;
            margin-right: 46px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
          button {
            max-width: 110px;
            max-height: 40px;
            border-radius: 52px;
            background-color: #f8f8f8;
            color: #81879d;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            border: none;
            padding: 10px 30px;
          }
        }
      }
      .IWYEKLELGM {
        display: flex;
        gap: 30px;
        @media (max-width: 700px) {
          max-width: 80vw;
          width: 100%;
        }
        @media (max-width: 1050px) {
          flex-direction: column;
        }
        .ZHEJDDFOMD {
          max-width: 730px;
          background-color: #eaedf9;
          border-radius: 30px;

          .IXJSWRBKRZ {
            height: 170px;
            background: #fff;
            border-radius: 30px 30px 0 0;
            padding: 20px 42px 0 42px;
            @media (max-width: 500px) {
              padding: 10px 24px 0 24px;
            }
            .FRTKHPBOIV {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
              button {
                width: 141px;
                height: 40px;
                border-radius: 30px;
                background: rgba(22, 99, 249, 0.1);
                color: #1663f9;
                border: none;
                font-size: 14px;
              }
            }
            .FVQBABUKZI {
              margin-top: 12px;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              color: #81879d;
              span {
                color: #1f2326;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
              }
            }
          }
          .NFBPLJARQI {
            background: #eaedf9;
            padding: 20px 0px;
            .YHQRPBZXCT {
              padding: 45px 42px;
              padding-bottom: 30px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              @media (max-width: 700px) {
                flex-direction: column;
              }
              .LTNROSTJRU {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                width: 50%;
                span {
                  margin-left: 12px;
                }
              }
            }
            .GEMYYHCDIV {
              padding-left: 42px;
              button {
                width: 140px;
                height: 44px;
                border-radius: 30px;
                background: linear-gradient(
                  90deg,
                  #5f45d9 -11.43%,
                  #f961d8 47.91%,
                  #fe9e66 92.14%
                );
                border: none;
                color: #fff;
                text-align: center;
                font-size: 16px;
              }
            }
          }
        }
        .RKPYHMKBHK {
          max-height: 464px;
          max-width: 410px;
          background-color: #eaedf9;
          border-radius: 30px;
          @media (max-width: 1050px) {
            width: 100%;
          }
          .IBIWOMZXYF {
            height: 170px;
            background: #fff;
            border-radius: 30px 30px 0 0;
            padding: 20px 42px 0 42px;
            @media (max-width: 500px) {
              padding: 10px 24px 0 24px;
            }
            .WMKCOYQXCR {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
              }
              button {
                width: 74px;
                height: 40px;
                border-radius: 30px;
                background: rgba(22, 99, 249, 0.1);
                color: #222;
                border: none;
                font-weight: 600;
              }
            }
            .UREAXPABIZ {
              margin-top: 12px;
              span {
                color: #1f2326;
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;
              }
            }
          }
          .FMFSJNLZVA {
            background: #eaedf9;
            padding: 20px 0;
            .SUMSVJITMF {
              padding: 45px 42px;
              padding-bottom: 30px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              @media (max-width: 700px) {
              }
              .VCJGCCXFVH {
                display: flex;
                margin-bottom: 20px;
                span {
                  margin-left: 12px;
                }
              }
            }
            .TMOZMQIHFN {
              padding-left: 42px;
              button {
                border-radius: 30px;
                border: 1px solid #5f45d9;
                padding: 10px 35px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
