.BHYVEAISMG {
  display: flex;
  justify-content: center;
  overflow: hidden;
  .WBAJUKSOUQ {
    display: flex;
    flex-direction: column;
    width: 1170px;
    .NSEZEEDNRH {
      margin-bottom: 70px;
      margin-top: 120px;
      @media (max-width: 500px) {
        margin-top: 70px;
        margin-bottom: 30px;
      }
    }
  }
}
